@import "@netlify/netlify-marketing-tokens/dist/css/global.css";


html {
  --page-color: var(--neutral-dark-000);
  --text-color:var(--neutral-dark-700);
  --text-color-mild:var(--neutral-dark-500);
  --text-color-loud:var(--neutral-dark-900);
  --color-dark-block:var(--neutral-dark-600);
  --accent-color:var(--teal-800);
  --accent-color-mild:var(--teal-100);
  --accent-color-loud:var(--teal-300);
  --color-hint:var(--neutral-light-200);
  --font-headings: Pacaembu, sans-serif;
  --font-content: Mulish, sans-serif;
  --radius: var(--border-radius-4);
  --radius-tight: var(--border-radius-2);
  --colorCardGradient90: linear-gradient(90deg, var(--teal-200), var(--blue-700));
}


body {
  background-color: var(--page-color);
  font-family: var(--font-content);
  color: var(--text-color);
  text-align:center;
  min-width:300px;
  line-height:1.4;
  text-align: center;
  font-size:17px;
}

a:link,
a:visited {
  color: var(--accent-color);
  font-weight: 600;
  text-underline-offset: 0.1em;
}
a:hover,
a:focus {
  text-decoration:none;
}

h1, h2, h3, h4 {
  font-family: var(--font-headings);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
  line-height:1.2;
}

main {
  padding: 1rem;
  max-width: 600px;
  margin:0 auto;
  text-align: left;
}

.centered {
  text-align: center;
  justify-content: center;
}

section {
  margin: 0 0 5rem;
}


p {
  margin-bottom: 2em;
}

code {
  background-color: #eee;
  border-radius: var(--radius-tight); 
  font-size: 0.9em;
  padding: 0.2em 0.5em;
}
